@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row mb-4">
    <div class="col-12 mb-2">
        <h1 class="text-center">Greetings</h1>
    </div>
</div>
<div class="row mb-lg-5">
    <div class="d-flex col-md-6 align-items-center justify-content-center">
        <img src="~/images/about/IMG_٢٠٢٤٠٨١٠_٠٥١٦٢٤.jpg" alt="Alternate Text" class="img-fluid about-img" />
    </div>
    <div class="col-md-6  align-content-center justify-content-center">
        <h2>I'm Islam Ayman.</h2>
        <p> I am a passionate Full Stack Web Developer with expertise in building robust, scalable, and user-friendly web applications.  </p>
        <p>My primary focus is on leveraging the power of .NET Core for backend development and Angular for frontend development to deliver seamless, high-performance solutions. </p>
        <p>With a strong foundation in C#, I design and implement efficient backend systems using Entity Framework Core for database management and SQL Server for data storage.  </p>
        <p>
            I specialize in creating RESTful APIs that ensure smooth communication between the frontend and backend, enabling dynamic and responsive user experiences.
        </p>
        <p>On the frontend, I utilize TypeScript to build maintainable and scalable code, along with RxJS for reactive programming to handle asynchronous data streams effectively. I also have hands-on experience with Angular Material to create visually appealing and consistent user interfaces that align with modern design standards.</p>
       
    </div>
</div>