@using Blog.Utility

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Islam Blog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Google fonts-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"></script>
    <link href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <!-- Summernote CSS Reference -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
</head>
<body>
    <!-- preloader start -->
    <div class="preloader">
        <div class="spin"></div>
    </div>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img style="height:40px;width:150px" src="~/images/bg/IMG_٢٠٢٥٠٢٠٢_١٥١٦١٩.jpg" /> Blog </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" asp-area="UI" asp-controller="Post" asp-action="Index">Posts</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" asp-area="UI" asp-controller="Home" asp-action="About">About</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" asp-area="UI" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    @if (User.IsInRole(SD.Role_Admin))
                    {
                        <li class="nav-item">
                            <a class="nav-link px-lg-3 py-3 py-lg-4" asp-area="Admin" asp-controller="Post" asp-action="Edit">Create Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-lg-3 py-3 py-lg-4" asp-area="Admin" asp-controller="Post" asp-action="Index">List Post</a>
                        </li>
                    }
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
        <!-- Page Header-->
       <header class="masthead">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>@ViewData["MainText"]</h1>
                            <span class="subheading">@ViewData["SubText"]</span>
                          <form asp-action="SearchIndex" asp-controller="Posts">
                                <div class="input-group input-group-sm mt-5">
                                    <input type="text" name="SearchTerm" class="form-control rounded-start" placeholder="Search Term" />
                                    <div class="input-group-append d-grid">
                                        <button class="btn btn-warning rounded-end" style="right:5px;" type="submit">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    <div class="container">
            @RenderBody()
    </div>
    <!-- Footer-->
    <footer class="border-top">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="https://www.youtube.com/channel/UCymPTmdV5goU-IBMCAPaErQ" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/martin-fernandez-b465b47a/" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/UxDeveloper82" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div class="small text-center text-muted fst-italic">Copyright &copy; <img style="height:25px;width:90px" src="~/images/bg/IMG_٢٠٢٥٠٢٠٢_١٥١٦١٩.jpg" />   Blog  2025</div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/scrollNav.js"></script>
    <script src="~/js/postlist.js"></script>
   
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/n94ifuzvl80pchikopiwgz2esrw8n28dwcywvpejlqrregfp/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <script>
        (function ($) {
            'use strict';
            // Preloader js
            $(window).on('load', function () {
                $('.preloader').fadeOut(700);
            });
        })(jQuery);
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
